body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #176927;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 20px; 
}

h4 {
  color: rgb(255, 255, 255);
  font-size: 20px; 
}


p { color: rgb(0, 0, 0);

   font-size: 17px; 
}

.title { font-family: sans-serif; 

}

a {
  color: rgb(255, 255, 255);
  border: 3px solid #050505;
  padding: 5px 10px;
  background-color: #45a049;
}

button {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);              
  padding: 10px 20px;       
  border: none;              
  border-radius: 5px;        
  cursor: pointer;          
  font-size: 16px;
  transition: all 0.3s ease;

}

button:hover {
  background-color: #45a030;
  transform: scale(1.05);

}

/* Navigation menu */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  background-color: #333;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #4CAF50;
}

/* Article */
article {
  background-color: rgb(255, 151, 151);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

article img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Form Section */
section#shippingFormSection {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#shippingForm input {
  background-color: #ee8282;  /* Light blue background */
  border: 1px solid #ccc;     /* Optional: border color */
  border-radius: 5px;         /* Rounded corners */
  padding: 8px;               /* Space inside the input */
  color: rgb(0, 0, 0);        /* Black text inside the input */
    font-size: 16px;            /* Font size */
    font-weight: bold;
}

form label {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

form input {
  width: 95%;
  padding: 8px;
  margin: 5px 0 15px 0;
  border-radius: 5px;
  border: 1px solid #050505;
}

/* Button styling */
button {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Footer */
footer {
  text-align: center;
  padding: 15px 0;
  background-color: #848484;
  color: white;
  margin-top: 20px;
}
